<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings file="privateSettings.config">
    <!-- remember, the file path above is relative to your EXECUTABLE
         not your app.config. So this file path works if privateSettings.config
         is at the same level of my project as app.config and you
         set the "copy to output directory" to "copy always" 
    -->
    
    <!-- Either place your values directly in app.config
         or create a file called privateSettings.config 
         if you want to keep it out of your public repo
    
        <add key="BasecampURL" value="your basecamp URL goes here"/>
        <add key="APIToken" value="super secret API key goes here"/>
    -->
  </appSettings>
</configuration>
